*{
  margin: 0; 
}

body{
  background-color: #f5f6fa;
  height: 100%; /* ensure full height */
  width: 100%;
}

.app{
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}
.app__dropdown{
  background-color: white;
}
.app__header> h1{
  color: #911d1d;
  font-size: 2rem;
}

.app__header{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: space-between;
}

.app__left{
  flex: 0 0 70%;
  margin-right: 12px;
   display: flex;
  flex-direction: column;
  height:990px;
  
}

.app__stats{
  display: flex;
  justify-content: space-between;
}

@media (max-width: 990px){
  .app{
    flex-direction: column;
  }
}

.app__right {
  display: flex;
  flex-direction: column;
  height: 720px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.5);
  padding: 1rem;
}

.app__right .MuiCardContent-root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;  /* Let it expand fully */
  height: 100%;
}

.app__graph{
  flex-grow: 1;
}
.app__graphtitle{
  margin-top: 20px;
  margin-bottom: 20px;
}

.table-container {
  flex: 70% 50 0%;
  overflow-y: auto;
  margin-bottom: 10px;
}

.chart-container {
  flex: 30% 0 0%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right-content {
  display: flex;
  flex-direction: column;
  height: 90%;
}